deployment/step_function_express_state_machine.json
{
  "Comment": "Harmony parser state machine - express state machine",
  "StartAt": "TriageFileType",
  "States": {
    "TriageFileType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$[0].file_type",
          "StringEquals": "pdf",
          "Next": "ProcessPdf"
        }
      ],
      "Default": "ProcessTextOrExcel"
    },
    "ProcessPdf": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$",
      "ResultPath": "$",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:eu-west-2:017696512810:function:harmony-tika-function-NJDm5rwvxqbH:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "ProcessTextOrExcel"
    },
    "ProcessTextOrExcel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:eu-west-2:017696512810:function:harmony-file-processor-HarmonyFileProcessor-JHyLFrdSLu85:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}